<mat-accordion>
    <mat-expansion-panel *ngFor = "let result of results$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{result.category}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      
       {{result.body}}   
    </mat-expansion-panel>


  </mat-accordion>