<div class="example-button-row">
  <button 
     mat-raised-button color="primary"
     [routerLink]="'/addpost'">
     Add post
  </button>
</div>

<div *ngIf = "!(posts$ | async)">Loading....</div> <!--- בזמן שאין עדיין כלום באובסרבר יציג את ההודעה הבאה-->


<mat-accordion>
  <mat-expansion-panel *ngFor = "let post of posts$ | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{post.title}}
      </mat-panel-title>
    </mat-expansion-panel-header> 
     {{post.body}}
     
    Author: {{post.author}}

    <button 
    mat-raised-button color="primary"
    (click)= deletePost(post.id)>
    Delete
 </button>
 <button 
 mat-raised-button color="primary"
 [routerLink]="'/addpost/' + post.id">
 Update
</button>
    
  </mat-expansion-panel>
</mat-accordion>