

<mat-card class="example-card">
   
    <mat-card-header>    
      <mat-card-title  > {{category}} </mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
      <p>
        {{classifyservice.doc}}
      </p>
    </mat-card-content>
    
    <mat-select placeholder="categorychange" [(ngModel)] = "categorychange" name = "categorychange" >
        <mat-option *ngFor = "let category of categories" [value]="category.name">{{category.name}}</mat-option>
    </mat-select>
    <mat-card-actions>

        <button  mat-raised-button color="primary" (click)= "passDifferentcategory()"> Save change </button>
        <button  mat-raised-button color="primary" (click)= "passDeafultcategory()"> Save Deafult </button>
    
    </mat-card-actions>
</mat-card>
