<mat-card>
    <h4>Add author</h4>
    <form #addauthorForm="ngForm" (ngSubmit)= 'onSubmit()'> 
    <div>
        <input matInput placeholder="authorname" [(ngModel)]= "authorname"
                                        name="authorname"
                                        required 
                                        #temp = "ngModel">
    </div>
      <div>
            <button mat-raised-button color="primary" [disabled]>Add</button>
    </div>
    </form>
</mat-card>